<?xml version="1.0" encoding="ISO-8859-1"?>

<web-app xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd"
         version="2.4">

    <distributable/>

    <display-name>WS App Service</display-name>

    <!-- REST service -->
    <!-- Fill XXX and uncomment the following lines --> 
    <!--
    <servlet>
        <display-name>XXXServlet</display-name>
        <servlet-name>XXXServlet</servlet-name>
        <servlet-class>
            es.udc.ws.app.restservice.servlets.XXXServlet
        </servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>XXXServlet</servlet-name>
        <url-pattern>/xxx/*</url-pattern>
    </servlet-mapping>
    -->

   <!-- Thrift service -->
   <!-- Fill XXX and uncomment the following lines --> 
   <!--
    <servlet>
        <servlet-name>ThriftXXXServiceServlet</servlet-name>
        <servlet-class>es.udc.ws.app.thriftservice.ThriftXXXServiceServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>ThriftXXXServiceServlet</servlet-name>
        <url-pattern>/thrift/XXXservice</url-pattern>
    </servlet-mapping>
    -->

    <!-- General configuration -->

    <session-config>
        <session-timeout>30</session-timeout>
    </session-config>

</web-app>
